@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

* {
    box-sizing: border-box;
}

.header {
    background-color: #333;
    height: 50px;
}

.navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        text-decoration: none;
        color: #ccc;
        margin-right: 20px;
        display: block;
    }
}

.main {
    margin: 0 auto;
    width: 80vw;
}